<div style="position:absolute; top: 5px; left: 30px;">
  <a href="/monitor" class="text-gray-lighter">
    <h2 style="margin-top:0px;">
      <i class="fa fa-reply" aria-hidden="true"></i>
    </h2>
  </a>
</div>

<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-default no-bg b-a-2 b-gray-dark">

      <div class="panel-heading">
        <!-- Single button -->
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             操作
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="#">
                <i class="fa fa-fw text-gray-lighter fa-remove m-r-1"></i>删除</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-fw text-gray-lighter fa-minus m-r-1"></i>处理完成</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-fw text-gray-lighter fa-minus m-r-1"></i>延期处理</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-fw text-gray-lighter fa-minus m-r-1"></i>不做处理</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">
                <i class="fa fa-fw text-gray-lighter fa-hourglass m-r-1"></i>显示全部</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">
                <i class="fa fa-fw text-gray-lighter fa-hourglass-1 m-r-1"></i>显示所有未处理</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-fw text-gray-lighter fa-hourglass-3 m-r-1"></i>显示所有已处理</a>
            </li>

            <li>
              <a href="#">
                <i class="fa fa-fw text-gray-lighter  fa-hourglass-2 m-r-1"></i>显示所有处理中</a>
            </li>
          </ul>
        </div>

        <div class="input-group input-group-sm col-lg-6 pull-right">
          <input type="text" class="form-control" placeholder="查找...">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-primary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
        <h5 class="panel-title">今日投诉</h5>
      </div>
      <ul class="list-group custom-scrollbar" style="max-height: 635px; overflow-y: scroll; min-height: 635px">
        <li class="list-group-item no-bg">
          <div class="media">
            <div class="media-body">
              <div class="checkbox m-b-0 m-t-0">
                <label>
                  <input type="checkbox" value="">
                  <a href="#">
                    <span>【徐汇，航天公寓2期，306室，王女士，15655515511】网络不稳定，上网速度有时候很慢，而且持续会很长时间</span>
                  </a>
                  <br>
                  <span class="m-t-1 small">
                    <span>2017-6-18 12:34:12</span>
                  </span>
                </label>
              </div>
            </div>
            <div class="media-right media-middle text-right">
              <i class="fa fa-fw fa-circle text-danger"></i>
            </div>
          </div>
        </li>
        <li class="list-group-item no-bg">
          <div class="media">
            <div class="media-body">
              <div class="checkbox m-b-0 m-t-0">
                <label>
                  <input type="checkbox" value="" checked>
                  <del>
                    <a href="#" class="text-muted">
                      <span>【静安，龙华大厦，303室，李先生，15655551553】家里不能上网，希望尽快解决</span>
                    </a>
                  </del>
                  <br>
                  <span class="m-t-1 small">
                    <span>2017-6-18 12:24:42</span>
                  </span>
                </label>
              </div>
            </div>
            <div class="media-right media-middle text-right">
              <i class="fa fa-fw fa-circle text-gray-lighter"></i>
            </div>
          </div>
        </li>
        <li class="list-group-item no-bg">
          <div class="media">
            <div class="media-body">
              <div class="checkbox m-b-0 m-t-0">
                <label>
                  <input type="checkbox" value="" checked>
                  <del>
                    <a href="#" class="text-muted">
                      <span>【普陀，东方城市花园1期，301室，李先生，13275555569】上网速度变慢</span>
                    </a>
                  </del>
                  <br>
                  <span class="m-t-1 small">
                    <span>2017-6-18 11:56:32</span>
                  </span>
                </label>
              </div>
            </div>
            <div class="media-right media-middle text-right">
              <i class="fa fa-fw fa-circle text-primary"></i>
            </div>
          </div>
        </li>
        <li class="list-group-item no-bg">
          <div class="media">
            <div class="media-body">
              <div class="checkbox m-b-0 m-t-0">
                <label>
                  <input type="checkbox" value="">
                  <a href="#">
                    <span>【徐汇，惠工新村，201室，王先生，13095553355】光猫好像坏掉量，通电后没有显示，电源插座确认是有电的</span>
                  </a>
                  <br>
                  <span class="m-t-1 small">
                    <span>2017-6-18 11:46:19</span>
                  </span>
                </label>
              </div>
            </div>
            <div class="media-right media-middle text-right">
              <i class="fa fa-fw fa-circle text-success"></i>
            </div>
          </div>
        </li>
        <li class="list-group-item no-bg">
          <div class="media">
            <div class="media-body">
              <div class="checkbox m-b-0 m-t-0">
                <label>
                  <input type="checkbox" value="">
                  <a href="#">
                    <span>【徐汇，惠工新村，406室，朱先生，13145557204】宽带不稳定，时快时慢</span>
                  </a>
                  <br>
                  <span class="m-t-1 small">
                    <span>2017-6-18 11:38:34</span>
                  </span>
                </label>
              </div>
            </div>
            <div class="media-right media-middle text-right">
              <i class="fa fa-fw fa-circle text-danger"></i>
            </div>
          </div>
        </li>
        <li class="list-group-item no-bg">
          <div class="media">
            <div class="media-body">
              <div class="checkbox m-b-0 m-t-0">
                <label>
                  <input type="checkbox" value="" checked>
                  <del>
                    <a href="#" class="text-muted">
                      <span>【徐汇，惠工新村，306室，陈先生，13145554620】网速感觉不理想，打游戏时经常卡顿，现在是100M的宽带套餐</span>
                    </a>
                  </del>
                  <br>
                  <span class="m-t-1 small">
                    <span>2017-6-18 11:05:52</span>
                  </span>
                </label>
              </div>
            </div>
            <div class="media-right media-middle text-right">
              <i class="fa fa-fw fa-circle text-gray-lighter"></i>
            </div>
          </div>
        </li>
        <li class="list-group-item no-bg">
          <div class="media">
            <div class="media-body">
              <div class="checkbox m-b-0 m-t-0">
                <label>
                  <input type="checkbox" value="" checked>
                  <del>
                    <a href="#" class="text-muted">
                      <span>【黄浦，万科魅力城，6单元806室，李先生，13698120628】光猫坏掉了，需要更换</span>
                    </a>
                  </del>
                  <br>
                  <span class="m-t-1 small">
                    <span>2017-6-18 11:01:02</span>
                  </span>
                </label>
              </div>
            </div>
            <div class="media-right media-middle text-right">
              <i class="fa fa-fw fa-circle text-primary"></i>
            </div>
          </div>
        </li>
        <li class="list-group-item no-bg">
          <div class="media">
            <div class="media-body">
              <div class="checkbox m-b-0 m-t-0">
                <label>
                  <input type="checkbox" value="">
                  <a href="#">
                    <span>【浦东，上南花院，2302室，颜先生，15800779168】家里不能上网</span>
                  </a>
                  <br>
                  <span class="m-t-1 small">
                    <span>2017-6-18 10:46:12</span>
                  </span>
                </label>
              </div>
            </div>
            <div class="media-right media-middle text-right">
              <i class="fa fa-fw fa-circle text-success"></i>
            </div>
          </div>
        </li>
      </ul>
      <!-- END Scroll Inside Panel -->

    </div>
  </div>

  <div class="col-lg-6">
    <div class="input-group select2-bootstrap-append input-group-sm col-lg-3" style="position:absolute; top: 10px; right: 20px;">
      <select id="multi-append" class="form-control select2 select2-input">
        <option value="-1">全部小</option>
      </select>
    </div>
    <div id="my_map" class='b-a-2 b-gray-dark b-r-a-4' style='height: 684px;'></div>
  </div>

  <div class="col-lg-3">

    <div class="panel panel-default no-bg b-a-2 b-gray-dark">

      <div class="panel-heading">
        <div class="btn-group pull-right" role="group" aria-label="...">
          <button type="button" class="btn btn-link btn-xs" data-toggle="tooltip" data-placement="top" title="刷新">
            <i class="fa fa-refresh fa-fw fa-lg text-white"></i>
          </button>
        </div>
        <h5 class="panel-title">今日投诉按区域统计</h5>
      </div>
      <div class="scroll-300 custom-scrollbar">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="small text-muted text-uppercase">
                <strong>区域</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>总数</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>已处理</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>未处理</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>正在处理</strong>
              </th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">长宁</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">虹口</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">黄浦</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">静安</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">普陀</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">徐汇</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">杨浦</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">闵行</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">浦东新区</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">金山</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">松江</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">嘉定</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">青浦</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">松江</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">奉贤</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">崇明</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-default no-bg b-a-2 b-gray-dark">

      <div class="panel-heading">
        <div class="btn-group pull-right" role="group" aria-label="...">
          <button type="button" class="btn btn-link btn-xs" data-toggle="tooltip" data-placement="top" title="刷新">
            <i class="fa fa-refresh fa-fw fa-lg text-white"></i>
          </button>
        </div>
        <h5 class="panel-title">今日投诉按类型统计</h5>
      </div>
      <div class="scroll-300 custom-scrollbar">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="small text-muted text-uppercase">
                <strong>名称</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>总数</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>已处理</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>未处理</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>正在处理</strong>
              </th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">无法连接</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">用户名和密码错误</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">网速慢</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">无法打开网页</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">经常掉线</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">
                  <a href="#">其他</a>
                </span>
              </td>
              <td class="v-a-m text-white">
                <span>234</span>
              </td>
              <td class="v-a-m text-success">
                <span>230</span>
              </td>
              <td class="v-a-m text-danger">
                <span>2</span>
              </td>
              <td class="v-a-m text-warning">
                <span>2</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-lg-6">
    <div class="panel panel-default no-bg b-a-2 b-gray-dark">

      <div class="panel-heading">
        <h5 class="panel-title"><i class="fa fa-line-chart" aria-hidden="true"></i> 今年各区域家宽用户投诉量统计</h5>
      </div>
      <div class="panel-body">
        <div class="highcharts-4" style='height:300px;'></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-default no-bg b-a-2 b-gray-dark">

      <div class="panel-heading">
        <h5 class="panel-title"><i class="fa fa-bar-chart" aria-hidden="true"></i> 最近四年各区域家宽用户投诉量统计</h5>
      </div>
      <div class="panel-body">
        <div class="highcharts-5" style='height:300px;'></div>
      </div>
    </div>

  </div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#xD7;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">当前小区投诉列表</h4>
      </div>
      <div class="modal-body" id='modal-body'>

        <table class="table table-striped">
          <thead>
            <tr>
              <th class="small text-muted">
                <strong>地址</strong>
              </th>
              <th class="small text-muted">
                <strong>投诉人</strong>
              </th>
              <th class="small text-muted">
                <strong>投诉人联系方式</strong>
              </th>
              <th class="small text-muted">
                <strong>投诉内容</strong>
              </th>
              <th class="small text-muted">
                <strong>投诉时间</strong>
              </th>
              <th class="small text-muted">
                <strong>处理状态</strong>
              </th>
              <th class="small text-muted">
                <strong>处理时长</strong>
              </th>
              <th class="small text-muted">
                <strong>处理人员</strong>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="v-a-m">
                <span class="text-white"><a href="/complaint/family-detail">9单元401</a></span>
              </td>
              <td class="v-a-m">
                <span class="text-white">李先生</span>
              </td>
              <td class="v-a-m text-white">
                <span>15800771234</span>
              </td>
              <td class="v-a-m text-white">
                <span>家里网络不能连接，看网络电视时，网路突然中断，之后就再也不能上网。</span>
              </td>
              <td class="v-a-m text-white">
                <span>2017-8-17 16:54:21</span>
              </td>
              <td class="v-a-m text-info">
                <span class="text-info">已解决</span>
              </td>
              <td class="v-a-m text-white">
                <span class="">13小时 16分</span>
              </td>
              <td class="v-a-m text-white">
                <span class="">赵海</span>
              </td>
            </tr>
            <tr><td colspan="7">&nbsp;</td></tr>
            <tr><td colspan="7">&nbsp;</td></tr>
            <tr><td colspan="7">&nbsp;</td></tr>
            <tr><td colspan="7">&nbsp;</td></tr>
            <tr><td colspan="7">&nbsp;</td></tr>
            <tr><td colspan="7">&nbsp;</td></tr>
            <tr><td colspan="7">&nbsp;</td></tr>
            <tr><td colspan="7">&nbsp;</td></tr>
            <tr><td colspan="7">&nbsp;</td></tr>
            <tr><td colspan="7">&nbsp;</td></tr>
            <tr><td colspan="7">&nbsp;</td></tr>
            <tr><td colspan="7">&nbsp;</td></tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  var map;
  var map_div_id = 'my_map';
  var placeSearch;
  // var array_community = {   community: [] }
  var array_point = ['/images/icon/point-primary-12.png', '/images/icon/point-warning-12.png', '/images/icon/point-danger-12.png'];
  var select_search = '';


  $(document).ready(function () {
    map = new AMap.Map(map_div_id, {
      resizeEnable: true,
      zoom: 11,
      mapStyle: 'amap://styles/grey',
      features: ['bg', 'building', 'road'],
      center: [121.46793,31.223]
    });

    AMap.plugin(['AMap.ToolBar','AMap.Scale'],
    function(){
        map.addControl(new AMap.ToolBar());
        map.addControl(new AMap.Scale());
      });

    create_districts();
    map.on('zoomchange', function() {
      if ( map.getZoom() <= 12){
        map.clearMap( );
        create_districts();
      }

      if (map.getZoom() > 14 && map.getZoom() < 18){
        map.clearMap( );
        create_districts();
        show_all_districts_communities();

      }
    });

    $.getJSON("/data/community.json", function (data) {
      $.each(data.community, function (key, val) {
        select_search = select_search + '<option value="' + key + '">' + val.name + '</option>';
      });
      $('#multi-append').append(select_search);
    });



    // AMap.service('AMap.DistrictSearch', function () {
    //   var opts = {
    //     subdistrict: 1, //返回下一级行政
    //     extensions: 'all', //返回行政边界坐标组等具体信息
    //     level: 'city' //查询行政级别为 市
    //   };
    //   //实例化DistrictSearch
    //   district = new AMap.DistrictSearch(opts);
    //   district.setLevel('district');
    //   //行政查询
    //   district.search('浦东新', function (status, result) {
    //     alert(JSON.stringify(result));
    //     var bounds = result.districtList[0].boundaries;
    //     var polygons = [];
    //
    //     if (bounds) {
    //       for (var i = 0, l = bounds.length; i < l; i++) {
    //         //生成行政划polygon
    //         var polygon = new AMap.Polygon({
    //           map: map,
    //           strokeWeight: 1,
    //           path: bounds[i],
    //           fillOpacity: 0.7,
    //           fillColor: '#CCF3FF',
    //           strokeColor: '#CC66CC'
    //         });
    //         polygons.push(polygon);
    //       }
    //       map.setFitView(); //地图自适应
    //     }
    //   });
    // });

  });

  function create_districts(){

    $.get("/data/district-changning.json", function (data) {
      create_district(data);
    });
    $.get("/data/district-hongkou.json", function (data) {
      create_district(data);
    });
    $.get("/data/district-huangpu.json", function (data) {
      create_district(data);
    });
    $.get("/data/district-jingan.json", function (data) {
      create_district(data);
    });
    $.get("/data/district-putuo.json", function (data) {
      create_district(data);
    });
    $.get("/data/district-xuhui.json", function (data) {
      create_district(data);
    });
    $.get("/data/district-yangpu.json", function (data) {
      create_district(data);
    });

  }

  function create_district(data){
    var bounds = data.districtList[0].boundaries[0];
    var polygons = [];
    if (bounds) {
      for (var i = 0, l = bounds.length; i < l; i++) {
        //生成行政划polygon
        polygons.push([bounds[i].lng, bounds[i].lat]);
      }
      var polygon = new AMap.Polygon({
        map: map,
        strokeWeight: 1,
        path: polygons,
        fillOpacity: 0.7,
        fillColor: '#333333',
        strokeColor: '#CC66CC'
      });

      polygon.on('mouseover', function(e) {
        if (map.getZoom() <= 13){
          e.target.setOptions({fillColor: '#CCF3FF'});
        }

      });
      polygon.on('mouseout', function(e) {
        e.target.setOptions({fillColor: '#333333'});
      });

      polygon.on('click', function(e) {
        map.clearMap( );
        polygon = new AMap.Polygon({
          map: map,
          strokeWeight: 1,
          path: polygons,
          fillOpacity: 0.7,
          fillColor: '#333333',
          strokeColor: '#CC66CC'
        });
        map.setFitView();
        map.setZoom(13);
        show_district_communities(polygon);
      });

    }

  }


  function show_district_communities(polygon){

    $.getJSON("/data/community.json", function (data) {
      $.each(data.community, function (key, val) {

        if (polygon.contains([val.position.lng, val.position.lat])){

          var marker = new AMap.Marker({
            position: [
              val.position.lng, val.position.lat
            ],
            title: val.name,
            icon: array_point[val.bu],
            offset: new AMap.Pixel(-6, -6),
            map: map
          });

          var infoWindow_html = "";
          infoWindow_html = infoWindow_html + "<div class='panel panel-primary  b-primary' style='width: 300px;'>";
          infoWindow_html = infoWindow_html + "<div class='panel-heading bg-primary'>";
          infoWindow_html = infoWindow_html + "<div class='row'>";
          infoWindow_html = infoWindow_html + "<div class='col-lg-9'>" + val.name + "</div>";
          infoWindow_html = infoWindow_html + "<div class='col-lg-3 text-right'>";
          infoWindow_html = infoWindow_html + "<a href='javascript:closeInfoWindow();' class='action-panel-close'>";
          infoWindow_html = infoWindow_html + "<i class='fa fa-fw fa-close text-white'></i>";
          infoWindow_html = infoWindow_html + "</a>";
          infoWindow_html = infoWindow_html + "</div>";
          infoWindow_html = infoWindow_html + "</div>";
          infoWindow_html = infoWindow_html + "</div>";
          infoWindow_html = infoWindow_html + "<table class='table table-condensed m-t-1 m-b-1'>";
          infoWindow_html = infoWindow_html + "<tbody>";
          infoWindow_html = infoWindow_html + "<tr><td class='v-a-m b-t-0'>小用户数</td>";
          infoWindow_html = infoWindow_html + "<td class='v-a-m b-t-0 text-right text-white'>";
          infoWindow_html = infoWindow_html + "<span>896户</span>";
          infoWindow_html = infoWindow_html + "</td></tr>";
          infoWindow_html = infoWindow_html + "<tr><td class='v-a-m b-t-0'>当前投诉用户数</td>";
          infoWindow_html = infoWindow_html + "<td class='v-a-m b-t-0 text-right text-white'>";
          infoWindow_html = infoWindow_html + "<span>23户</span>";
          infoWindow_html = infoWindow_html + "</td></tr>";

          infoWindow_html = infoWindow_html + "<tr><td class='v-a-m b-t-0'></td>";
          infoWindow_html = infoWindow_html + "<td class='v-a-m b-t-0 text-right text-white'>";
          infoWindow_html = infoWindow_html + "<span><a href='javascript:modal_show();'>详细情况</a></span>";
          infoWindow_html = infoWindow_html + "</td></tr>";
          infoWindow_html = infoWindow_html + "</div>";


          var infoWindow = new AMap.InfoWindow({
              isCustom: true,  //使用自定义窗体
              content: infoWindow_html,
              autoMove: true,
              offset: new AMap.Pixel(100, -10)
          });

          AMap.event.addListener(marker, 'click', function () {
             infoWindow.open(map, marker.getPosition());
          });

        }
      });
    });
  }

  function modal_show(){

    $('#myModal').modal('show');
  }

  function closeInfoWindow() {
    map.clearInfoWindow();
  }

  $( "#multi-append" ).change(function() {
    var current_selected = $('#multi-append').val();
    $.getJSON("/data/community.json", function (data) {
      $.each(data.community, function (key, val) {
        if (key == current_selected){
          map.setCenter([val.position.lng, val.position.lat]);
          map.setZoom(18);

          var circle = new AMap.Circle({
              center: new AMap.LngLat(val.position.lng, val.position.lat),// 圆心位置
              radius: 20, //半径
              strokeColor: "#F33", //线颜色
              strokeOpacity: 1, //线透明度
              strokeWeight: 3, //线粗细度
              fillColor: "#ee2200", //填充颜色
              fillOpacity: 0.35//填充透明度
          });
          circle.setMap(map);
          return;
        }
      });
    });
  });

</script>
