<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default b-a-2 no-bg b-gray-dark">
            <div class="panel-heading text-center">
                <a href="#"> <img src="/images/logo-primary-white2X.png" alt="Logo" class="m-t-3 m-b-3 h-20"></a>
            </div>
            <div class="panel-body">
                <h2 class="text-center f-w-300 m-b-0">通信资源可视化管理平台</h2>
                <p class="text-center m-b-3">哑资源、客户资源的可视化管理，保证资源的准确率和响应的及时率</p>
                <form class="m-t-3">
                    <div class="form-group">
                        <input class="form-control" placeholder="请输入账号">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="请输入密码" type="password">
                    </div>

                    <a href="/broadband-family/overview" role="button" class="btn btn-block m-b-2 btn-primary" style="margin-top: 30px;">登录</a>
                </form>
            </div>
            <div class="panel-footer b-a-0 b-r-a-0">
                <a href="#">忘记密码？</a>
                <a href="#" class="pull-right">客服电话</a>
            </div>
        </div>
        <p class="text-gray-light text-center">
          <strong class="m-r-1">四川融智信科技有限公司
          </strong>
          <span class="text-gray-light">© 2012 - 2017
            成都市, 四川省，中国</span>
        </p>
    </div>
</div>
