#tip {
    background-color: #4678b2;
    color: #ffffff;
    border: 1px solid silver;
    box-shadow: 3px 4px 3px 0px silver;
    position: absolute;
    top: 170px;
    right: 40px;
    border-radius: 5px;
    overflow: hidden;
    line-height: 20px;
}
