<div class="row" style="margin-top: 20px;">
  <div class="col-lg-12">
    <table class="table-bordered table_occ_internal_structure" width='100%' align="center" style="text-align:center">
      <tr>
        <td colspan="18" height='20px'></td>
      </tr>
      <tr>
        <td rowspan="22" width='30px;'>A盘</td>
        <td width='40px;'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-1'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-2'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-3'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-4'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-5'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-6'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-7'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-8'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-9'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-10'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-11'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-12'></td>
      </tr>
      <tr>
        <td>纤号</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
      </tr>
      <tr>
        <td>基本信息</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
      </tr>
      <tr>
        <td>使用信息</td>
        <td>12D-01</td>
        <td>12D-02</td>
        <td>12D-03</td>
        <td>12D-04</td>
        <td>12D-05</td>
        <td>12D-06</td>
        <td>12D-07</td>
        <td>12D-08</td>
        <td>12D-09</td>
        <td>12D-10</td>
        <td>12D-11</td>
        <td>12D-12</td>
      </tr>
      <tr>
        <td>跳纤情况</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
      </tr>
      <tr>
        <td></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-13'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-14'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-15'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-16'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-17'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-18'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-19'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-20'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-21'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-22'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-23'></td>
        <td><img src="/images/occ_point_used.png" alt="" id='point-24'></td>
      </tr>
      <tr>
        <td>纤号</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>19</td>
        <td>20</td>
        <td>21</td>
        <td>22</td>
        <td>23</td>
        <td>24</td>
      </tr>
      <tr>
        <td>基本信息</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
        <td>12芯来自金山卫环网GJ001古城路光交</td>
      </tr>
      <tr>
        <td>使用信息</td>
        <td>12D-01</td>
        <td>12D-02</td>
        <td>12D-03</td>
        <td>12D-04</td>
        <td>12D-05</td>
        <td>12D-06</td>
        <td>12D-07</td>
        <td>12D-08</td>
        <td>12D-09</td>
        <td>12D-10</td>
        <td>12D-11</td>
        <td>12D-12</td>
      </tr>
      <tr>
        <td>跳纤情况</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
        <td>电视/MOS032A</td>
      </tr>
      <tr>
        <td></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
      </tr>
      <tr>
        <td>纤号</td>
        <td>25</td>
        <td>26</td>
        <td>27</td>
        <td>28</td>
        <td>29</td>
        <td>30</td>
        <td>31</td>
        <td>32</td>
        <td>33</td>
        <td>34</td>
        <td>35</td>
        <td>36</td>
      </tr>
      <tr>
        <td>基本信息</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>使用信息</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>跳纤情况</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
      </tr>
      <tr>
        <td>纤号</td>
        <td>37</td>
        <td>38</td>
        <td>39</td>
        <td>40</td>
        <td>41</td>
        <td>42</td>
        <td>43</td>
        <td>44</td>
        <td>45</td>
        <td>46</td>
        <td>47</td>
        <td>48</td>
      </tr>
      <tr>
        <td>基本信息</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>使用信息</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>跳纤情况</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td colspan="18" height='20px'></td>
      </tr>
    </table>
  </div>
</div>
