<div class="row" style='margin-top:20px;'>
  <div class="col-lg-12">
    <blockquote>
      <p class="text-danger">
        <strong>2017年7月18日</strong>
      </p>
      <footer>施工人员：李强（13454321234），浙江和勤通信
      </footer>
    </blockquote>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-clone fa-fw"></i>
        施工记录
      </div>
      <div class="panel-body">
        <ol>
          <li>...</li>
          <li>...</li>
          <li>...</li>
          <li>...</li>
          <li>...</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-clone fa-fw"></i>
        跳纤示意图
      </div>
      <table class='table table-bordered'>
        <tr>
          <td rowspan="2">A盘</td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
        </tr>
        <tr>
          <td rowspan="2">B盘</td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_highlight.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
        </tr>
        <tr>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
        </tr>
        <tr>
          <td rowspan="2">C盘</td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_highlight.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
          <td><img src="/images/occ_point_used.png" alt=""></td>
        </tr>
        <tr>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>31</td>
          <td>32</td>
          <td>33</td>
          <td>34</td>
          <td>35</td>
          <td>36</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-clone fa-fw"></i>
        施工前后照片
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-4 col-lg-offset-1">
            <img src="/images/occ_scene.png" alt="..." class="img-rounded" width="100%">
            <p class="text-center">施工前</p>
          </div>
          <div class="col-lg-4 col-lg-offset-2">
            <img src="/images/occ_scene.png" alt="..." class="img-rounded"  width="100%">
            <p class="text-center">施工后</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
