<div style="position:absolute; top: 5px; left: 30px;">
  <a href="/monitor" class="text-gray-lighter">
    <h2 style="margin-top:0px;">
      <i class="fa fa-reply" aria-hidden="true"></i>
    </h2>
  </a>
</div>

<!-- END Sub-Navbar with Header and Breadcrumbs-->

<div class="container-fluid">

  <div class="row">
    <div class="col-lg-3">
      <div class="hr-text hr-text-left m-t-0 m-b-1">
        <h6 class="text-white">
          <strong>查询</strong>
        </h6>
      </div>
      <div class="input-group">
        <input type="text" class="form-control" aria-label="..." placeholder="请输入关键字...">
        <div class="input-group-btn">
          <a role="button" class="btn btn-primary" href="search-results.html">
            <i class="fa fa-search"></i>
          </a>
        </div>
      </div>
      <div class="panel panel-default no-bg b-a-2 b-gray-dark m-t-2">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-4 col-xs-4">
              <i class="fa fa-list-alt" aria-hidden="true"></i>
              资源统计
            </div>
          </div>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="small text-muted text-uppercase">
                <strong>类型</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>数量</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>在线</strong>
              </th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">光交箱</span>
              </td>
              <td class="v-a-m text-white">
                <span>1432</span>
              </td>
              <td class="v-a-m text-danger">
                <span>1401</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">光分纤箱</span>
              </td>
              <td class="v-a-m text-white">
                <span>4652</span>
              </td>
              <td class="v-a-m text-warning">
                <span>4640</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">基站</span>
              </td>
              <td class="v-a-m text-white">
                <span>1432</span>
              </td>
              <td class="v-a-m text-danger">
                <span>1401</span>
              </td>

            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">长途光缆（皮长公里）</span>
              </td>
              <td class="v-a-m text-white">
                <span>143</span>
              </td>
              <td class="v-a-m text-success">
                <span>143</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3">骨干光缆（皮长公里）</span>
              </td>
              <td class="v-a-m text-white">
                <span>241</span>
              </td>
              <td class="v-a-m text-success">
                <span>241</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3"></span>
              </td>
              <td class="v-a-m text-white">
                <span></span>
              </td>
              <td class="v-a-m text-success">
                <span></span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3"></span>
              </td>
              <td class="v-a-m text-white">
                <span></span>
              </td>
              <td class="v-a-m text-success">
                <span></span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                <span class="text-white p-l-3"></span>
              </td>
              <td class="v-a-m text-white">
                <span></span>
              </td>
              <td class="v-a-m text-success">
                <span></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel panel-default no-bg b-a-2 b-gray-dark m-t-2">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-4 col-xs-4">
              <i class="fa fa-list-alt" aria-hidden="true"></i>
              代维公司
            </div>
          </div>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="small text-muted text-uppercase">
                <strong>公司名称</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>人员名称</strong>
              </th>
              <th class="small text-muted text-uppercase">
                <strong>联系方式</strong>
              </th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="v-a-m" colspan="3">
                <span class="text-white">浙江和勤</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                &nbsp;
              </td>
              <td class="v-a-m text-white">
                <span>江宁</span>
              </td>
              <td class="v-a-m text-info">
                <span>13865123124</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                &nbsp;
              </td>
              <td class="v-a-m text-white">
                <span>王海</span>
              </td>
              <td class="v-a-m text-info">
                <span>13865123124</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                &nbsp;
              </td>
              <td class="v-a-m text-white">
                <span>王亮</span>
              </td>
              <td class="v-a-m text-info">
                <span>13865123124</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                &nbsp;
              </td>
              <td class="v-a-m text-white">
                <span>王玮</span>
              </td>
              <td class="v-a-m text-info">
                <span>13865123124</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m" colspan="3">
                <span class="text-white">广东长实</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                &nbsp;
              </td>
              <td class="v-a-m text-white">
                <span>赵亮</span>
              </td>
              <td class="v-a-m text-info">
                <span>13865123124</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                &nbsp;
              </td>
              <td class="v-a-m text-white">
                <span>朱海涛</span>
              </td>
              <td class="v-a-m text-info">
                <span>13865123124</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                &nbsp;
              </td>
              <td class="v-a-m text-white">
                <span>李明文</span>
              </td>
              <td class="v-a-m text-info">
                <span>13865123124</span>
              </td>
            </tr>
            <tr>
              <td class="v-a-m">
                &nbsp;
              </td>
              <td class="v-a-m text-white">
                <span>曲宁</span>
              </td>
              <td class="v-a-m text-info">
                <span>13865123124</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="panel panel-default">
            <div id="my_map" style="min-height:600px"></div>
        </div>
      </div>
      <div class="row" style="position:absolute; top: 10px;">
        <div class="col-lg-12">
          <div class="btn-group m-b-1" data-toggle="buttons" style="width: 100%">
            <label class="btn btn-sm btn-primary btn-outline">
              <input type="checkbox" id='checkbox_reset'>
              恢复
            </label>
            <label class="btn btn-sm btn-primary btn-outline">
              <input type="checkbox" id='checkbox_community'>
              家宽用户
            </label>
            <label class="btn btn-sm btn-primary btn-outline">
              <input type="checkbox" id='checkbox_occ'>
              光交箱
            </label>
            <label class="btn btn-sm btn-primary btn-outline">
              <input type="checkbox" id='checkbox_station'>
              基站
            </label>

          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-3">
      <div class="row">

        <div class="col-lg-12">
          <div class="panel panel-default no-bg b-a-2 b-gray-dark">
            <div class="panel-heading">
              <div class="row">
                <div class="col-lg-12">
                  <i class="fa fa-line-chart" aria-hidden="true"></i>
                  今年光交箱新增数量量统计
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div class="highcharts-7" style='height:200px;'></div>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="panel panel-default no-bg b-a-2 b-gray-dark">
            <div class="panel-heading">
              <div class="row">
                <div class="col-lg-12">
                  <i class="fa fa-line-chart" aria-hidden="true"></i>
                  今年光缆新增数量量统计（皮长公里）
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div class="highcharts-8" style='height:200px;'></div>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="panel panel-default no-bg b-a-2 b-gray-dark">
            <div class="panel-heading">
              <div class="row">
                <div class="col-lg-12">
                  <i class="fa fa-line-chart" aria-hidden="true"></i>
                  今年光分纤箱新增数量量统计
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div class="highcharts-9" style='height:200px;'></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#xD7;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">徐汇光交GJ102 <a href="#" style="font-size: 12px;" target="_blank"> 详细</a></h4>
      </div>
      <div class="modal-body" id='modal-body'>
        <%= erb :'asset/occ_detail'%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  var district_name = "huangpu";
</script>
<script src="/javascript/pages/asset/index.js" charset="utf-8"></script>
