<div style="position:absolute; top: 5px; left: 30px;">
  <a href="/monitor" class="text-gray-lighter">
    <h2 style="margin-top:0px;">
      <i class="fa fa-reply" aria-hidden="true"></i>
    </h2>
  </a>
</div>



<div class="container-fluid" style="">

  <div class="row">
    <div class="col-lg-3">

      <div class="panel panel-default no-bg b-a-2  b-gray-dark">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-4 col-xs-4">告警列表</div>
            <div class="col-sm-4 col-xs-4 col-xs-offset-4 col-sm-offset-4 text-right">
              <button class="btn btn-xs btn-default">
                <i class="fa fa-pencil"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- START Scroll Inside Panel -->
        <div class="scroll-640 custom-scrollbar">
          <div class="panel-body">
            <!-- START Timeline - Active Entry (Day) -->
            <div class="timeline">
              <!-- Timeline - Badge Date -->
              <div class="timeline-date">
                <span class="badge">今天</span>
              </div>
              <div class="timeline-item p-r-1">
                <!-- Timeline - Mini Icon -->
                <div class="timeline-icon">
                  <i class="fa fa-fw fa-times-circle text-danger"></i>
                </div>

                <!-- Timeline - Icon  -->
                <div class="timeline-item-head clearfix m-b-0">
                  <!-- Timeline - Header & Subtitle -->

                  <!-- START Avatar, Message & Time -->
                  <div class="row">

                    <div class="col-lg-12 m-l-1">
                      <span class="label label-info label-outline">光缆</span>
                      <span class="label label-danger label-outline">光缆断裂</span>
                      <br>
                      <p class="text-white m-t-1">
                        <span>
                          <a href="javascript:focus_marker_1()" class="text-white">【浦东】浦东南路和东城路交界处，光缆断裂。</a>
                        </span>
                      </p>
                      <p>
                        <span>处理状态：</span>
                        <span class="text-danger">未处理</span>
                      </p>
                      <p class="text-nowrap small">
                        <span>2017-7-16 14:23:12</span>
                      </p>
                    </div>
                  </div>
                  <!-- END Avatar, Message & Time -->

                </div>
              </div>
            </div>
            <!-- END Timeline - Active Entry (Day) -->

            <!-- START Timeline - Active Entry -->
            <div class="timeline">
              <div class="timeline-item p-r-1">
                <!-- Timeline - Mini Icon -->
                <div class="timeline-icon">
                  <i class="fa fa-fw fa-exclamation-circle text-danger"></i>
                </div>

                <!-- Timeline - Icon  -->
                <div class="timeline-item-head clearfix m-b-0">
                  <!-- Timeline - Header & Subtitle -->

                  <!-- START Avatar, Message & Time -->
                  <div class="row">

                    <div class="col-lg-12 m-l-1">
                      <span class="label label-info label-outline">光交箱</span>
                      <span class="label label-danger label-outline">非法开启</span>
                      <br>
                      <p class="text-white m-t-1">

                        <a href="javascript:focus_marker_2()" class="text-white">
                          【徐汇】徐汇光交GJ101被非法开启
                        </a>

                      </p>
                      <p>
                        <span>处理状态：</span>
                        <span class="text-success">正在赶往现场</span>
                      </p>
                      <p class="text-nowrap small">
                        <span>2017-7-16 14:13:12</span>
                      </p>
                    </div>
                  </div>
                  <!-- END Avatar, Message & Time -->

                </div>
              </div>
            </div>
            <!-- END Timeline - Active Entry -->

            <!-- START Timeline - Active Entry -->
            <div class="timeline">
              <div class="timeline-item p-r-1">
                <!-- Timeline - Mini Icon -->
                <div class="timeline-icon">
                  <i class="fa fa-fw fa-info-circle text-warning"></i>
                </div>

                <!-- Timeline - Icon  -->
                <div class="timeline-item-head clearfix m-b-0">
                  <!-- Timeline - Header & Subtitle -->

                  <!-- START Avatar, Message & Time -->
                  <div class="row">

                    <div class="col-lg-12 m-l-1">

                      <span class="label label-info label-outline">光交箱</span>
                      <span class="label label-warning label-outline">施工开启</span>
                      <br>
                      <p class="text-white m-t-1">
                        <a href="javascript:focus_marker_3()" class="text-white">【徐汇】徐汇光交GJ103被开启，施工工单：徐汇光交施工20170712</a>
                      </p>
                      <p>
                        <span>处理状态：</span>
                        <span class="text-primary">已经处理</span>
                      </p>
                      <p class="text-nowrap small">
                        <span>2017-7-16 10:34:12</span>
                      </p>
                      <div class="m-b-1">
                        <img class="img-rounded avatar avatar-lg" src="/images/occ_scene.png" alt="Avatar">
                      </div>

                    </div>
                  </div>
                  <!-- END Avatar, Message & Time -->

                </div>
              </div>
            </div>
            <!-- END Timeline - Active Entry -->
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-6">

      <div class="panel panel-default">
        <div class="panel-heading panel-heading b-b-warning b-b-2">
          <div class="col-xs-3 pull-right">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" placeholder="输入关键字查询">
              <span class="input-group-btn">
                <button class="btn btn-sm btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
          </div>
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              全上海市
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#">
                  <i class="fa fa-fw text-gray-lighter fa-angle-rightm-r-1"></i>全上海市</a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-fw text-gray-lighter fa-angle-right m-r-1"></i>普陀区</a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-fw text-gray-lighter fa-angle-right m-r-1"></i>徐汇区</a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-fw text-gray-lighter fa-angle-right m-r-1"></i>静安区</a>
              </li>
            </ul>
          </div>
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              全部告警
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#">
                  <i class="fa fa-fw text-gray-lighter fa-angle-right m-r-1"></i>全部告警</a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-fw text-gray-lighter fa-angle-right m-r-1"></i>光交箱状态告警</a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-fw text-gray-lighter fa-angle-right m-r-1"></i>光缆状态监控告警</a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-fw text-gray-lighter fa-angle-right m-r-1"></i>人手井状态监控告警</a>
              </li>
            </ul>
          </div>
          <h3 class="panel-title">资源状态监控</h3>
        </div>
        <div class="panel-body">
          <div id="my_map" style="min-height:600px"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="panel panel-default no-bg b-a-2 b-gray-dark">

        <div class="panel-heading">
          <div class="btn-group pull-right" role="group" aria-label="...">
            <button type="button" class="btn btn-link btn-xs" data-toggle="tooltip" data-placement="top" title="刷新">
              <i class="fa fa-refresh fa-fw fa-lg text-white"></i>
            </button>
          </div>
          <h5 class="panel-title">当月告警按区域统计</h5>
        </div>
        <div class="scroll-300 custom-scrollbar">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="small text-muted text-uppercase">
                  <strong>区域</strong>
                </th>
                <th class="small text-muted text-uppercase">
                  <strong>总数</strong>
                </th>
                <th class="small text-muted text-uppercase">
                  <strong>已处理</strong>
                </th>
                <th class="small text-muted text-uppercase">
                  <strong>未处理</strong>
                </th>
                <th class="small text-muted text-uppercase">
                  <strong>正在处理</strong>
                </th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">长宁</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">虹口</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">黄浦</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">静安</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">普陀</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">徐汇</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">杨浦</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">闵行</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">浦东新区</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">金山</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">松江</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">嘉定</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">青浦</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">松江</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">奉贤</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">崇明</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel panel-default no-bg b-a-2 b-gray-dark">

        <div class="panel-heading">
          <div class="btn-group pull-right" role="group" aria-label="...">
            <button type="button" class="btn btn-link btn-xs" data-toggle="tooltip" data-placement="top" title="刷新">
              <i class="fa fa-refresh fa-fw fa-lg text-white"></i>
            </button>
          </div>
          <h5 class="panel-title">当月告警按类型统计</h5>
        </div>
        <div class="scroll-300 custom-scrollbar">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="small text-muted text-uppercase">
                  <strong>名称</strong>
                </th>
                <th class="small text-muted text-uppercase">
                  <strong>总数</strong>
                </th>
                <th class="small text-muted text-uppercase">
                  <strong>已处理</strong>
                </th>
                <th class="small text-muted text-uppercase">
                  <strong>未处理</strong>
                </th>
                <th class="small text-muted text-uppercase">
                  <strong>正在处理</strong>
                </th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">光交箱</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">光缆</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">人井</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">电杆</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
              <tr>
                <td class="v-a-m">
                  <span class="text-white p-l-3">
                    <a href="#">光分纤箱</a>
                  </span>
                </td>
                <td class="v-a-m text-white">
                  <span>234</span>
                </td>
                <td class="v-a-m text-success">
                  <span>230</span>
                </td>
                <td class="v-a-m text-danger">
                  <span>2</span>
                </td>
                <td class="v-a-m text-warning">
                  <span>2</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-12">
      <div class="panel panel-default no-bg b-a-2 b-gray-dark">

        <div class="panel-heading">
          <h5 class="panel-title"><i class="fa fa-line-chart" aria-hidden="true"></i> 今年各类型告警数量统计</h5>
        </div>
        <div class="panel-body">
          <div class="highcharts-6" style='height:300px;'></div>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">

  var marker1, marker2, marker3;
  var map;

  $(document).ready(function () {
    map = new AMap.Map('my_map', {
      resizeEnable: true,
      zoom: 12,
      mapStyle: 'amap://styles/grey',
      center: [121.499859, 31.23966]
    });

    marker1 = new AMap.Marker({
      position: [
        121.509535,31.239532
      ],
      title: '',
      icon: '/images/icon/pipe-broken-24.png',
      map: map
    });

    marker2 = new AMap.Marker({
      position: [
        121.441788,31.206199
      ],
      title: '徐汇光交GJ101',
      icon: '/images/icon/occ-warning-24.png',
      map: map
    });

    marker3 = new AMap.Marker({
      position: [
        121.437668,31.200436
      ],
      title: '徐汇光交GJ103',
      icon: '/images/icon/occ-warning-24.png',
      map: map
    });



  });

  function focus_marker_1() {
    map.setCenter([121.509535,31.239532]);
    map.setZoom(18);
  }

  function focus_marker_2() {
    map.setCenter([121.441788,31.206199]);
    map.setZoom(18);
  }


  function focus_marker_3() {
    map.setCenter([121.437668,31.200436]);
    map.setZoom(18);
  }







  //鼠标点击marker弹出自定义的信息窗体
</script>
